@model IEnumerable<SGE.Models.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alunos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materias.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alunos.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapas.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
